* {
    margin: 0;
    padding: 0;
    
    }



.search-bar{
    margin-left: 5%;
    margin-top: 10px;
    position: relative;
    width: 200px;
    height: 32px;
    border: 1.5px  solid #adafb1;
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    /* margin: 0; */
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   
}


   

.elemetsConntainer{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    
}
.search{
    border: none;
    height: 80%;
    width: 80%;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #424242;
    font-weight: 500;
    
}
.search:focus{
    outline:none;
}
.first-a{
    text-decoration: none;
}
.search1{
    background-color: #001C38;
    border-radius: 5px;
    width: 29px;
    height: 29px;
    color: azure;
    margin-left: 40xp;
    
    
    
}

.first-container{
    
    width: 100%;
    height: 150px;
    display: flex;

}
.logo{
    width: 140px;
    height: 140px;
    margin-left:23%;
    margin-top: 10px;
}
.edit-language{
    display: flex;
    margin-left: 30%;
    
}
.geo-icon{
    width: 15px;
    height: 15px;
    margin-top: 2px;
   
}
.geo{
    display: flex;
    margin-top: 60%;
 

}

.geo-txt{
    font-size:medium;
    font-family: cursive;
    color: #001C38;
    font-weight: bold;

}
.eng{
    display: flex;
    margin-top: 60%;
    margin-left: 30px;
 
 

}








/* header end */

.navigation1{
    display: flex;
    /* padding-left: 30px; */
    padding-top: 30px;
    padding-bottom: -10px;
    width: 100%;
    height: 200xp;
    
    
}
.navigation-text{
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 9%;
    color: #001C38;
}






.slidershow{
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 0px;
  }
  .div-1{
      width: 100%;
      height: 400px;
  }
  .middle{
    position: absolute;
    margin-top: 20px;

  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-top: 0px;
  }
  .bar{
    width: 10px;
    border-radius: 10px;
    height: 10px;
    
    background: #7a7979;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #000000;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }


  .partners{
      font-size: 28px;
      font-family: sans-serif;
      font-weight: bold;
      margin-top: 20px ;
  }
  .partner-box{
      
      margin-top: 150px;
      margin-left: 43%;
      height: 200px;
      
     
  }
  .line{
      height: 2px;
      width: 40px;
      margin-top: 10px;
      background: #001C38;
  }
  .line-container{
      display: flex;
      margin-left: 2%;
  }
  .flag{
      width: 20px;
      height: 25px;
      margin-left: 10px;
      margin-right: 10px;
      background: #001C38;
      border-radius: 5px;
  }
  .partner-txt{
      font-size: 28px;
      color: #001C38;
      font-weight: bold;
      font-family: sans-serif;
      margin-bottom:30px ;
  }
  
  .item-container{
      width: 100%;
      height: 300px;
      
      display: flex;
      flex-wrap: wrap;
  }

  .box{
      width:14% ;
      height: 270px;
      border-radius: 24px;
      
      padding-top: 20px;
      padding-left: 25px;
     
      margin-left: 7%;
      -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.6);
     -moz-box-shadow:    0px 0px 18px 0px rgba(50, 50, 50, 0.6);
      box-shadow:         0px 0px 18px 0px rgba(50, 50, 50, 0.6);}

    .box-img{
        max-width: 100%;
        height: auto;
    }
    .box-name{
        font-size: 23px;
        font-family: sans-serif;
        color: #001C38;
        font-weight: bold;
        margin-top: 15px;
        
    }
    .box-txt1{
        margin-left:13px ;
    }
    .box-txt2{
        margin-left: 50px;
    }
    .box-txt3{
        margin-left: 45px ;
    }
    .box-txt4{
        margin-left: 45px ;
    }
    .button-txt{
        font-size: 16px;
        font-family: sans-serif;
        color: #ffff;
        font-weight: bold;
       
    }
    .button{
        margin-left: 17px;
        margin-top: 10px;
        width: 75px;
        height: 17px;
        background:#6EC1E4 ;
        border-radius: 22px;
        padding:10px 20px;
        
    }
    .button:hover{
        background:#001C38;
        transition: 1s;

    }
    .container-number-2{
        width: 100%;
        height: 370px;
        margin-bottom: 200px;
        display: flex;
        flex-wrap: wrap;
    }
    .box2-img{
        width: 350px;
        height: 330px;
        border-radius: 40px 40px 0 0;
    }

    .box-2{
        margin-left: 4%;

    }
    .box2-txt{
        font-size: 18px;
        font-family: sans-serif;
        color: #001C38;
        font-weight: bold;
        margin-top: 15px;
        text-align: center;
    }
    .info{
        background: #001C38;
        width: 100%;
        height: 500px;
    }


    .info-icon{
        width: 30px;
        height: auto;
    }
    .info-txt{
        font-size: 17px;
        font-family: sans-serif;
        color: #ffff;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 20px;
        font-family: sans-serif;
        
    }
    .info-name{
        font-size: 27px;
        font-family: sans-serif;
        color: #ffff;
        font-weight: bold;
        margin-left: 10px;
    }
    .content{
        display: flex;
        margin-top: 20px;
    }
    .main-info{
        padding-top: 150px;
        display: flex;
    }
    .tbilisi{
        margin-left: 120px;
    }
    .last-contact{
        margin-left: 0px;
    }
    .social-icon{
        width: 40px;
        height: auto;
        margin-left: 20px;
        margin-top: 50px;
        border-radius: 10px;
    }
    .a-1{
        text-decoration: none;
    }
    .last-line{
        width: 100%;
        height: 1px;
        background:#2b4b61 ;
        margin-top: 60px;
    }
    .made-txt{
        color: #ADADAD;
        font-size: 16px;
        font-weight: 300;
        font-family: sans-serif;
        margin-top: 20px;
        margin-left: 100px;
    }
    .last-txt{
        margin-left: 55%;

    }
    .made{
        display: flex;
    }